.MuiFormLabel-root.Mui-focused {
    color : #1E2023 !important;
}
.MuiOutlinedInput-root.Mui-focused.MuiOutlinedInput-notchedOutline {
    color:#535b67 !important;
    border-width: 2px !important;
}
.MuiOutlinedInput-notchedOutline{
    color:#535b67 !important;
    border-width: 2px !important;
}