@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.App-header {
  background-color: #1E2023;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    overflow-y: auto;
  }
  .heading{
    font-size: 1.5rem !important;

  }
  .icon{
    width: 50px !important;
    font-size: 2.5rem !important;
  }
}
